body {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#container {
  border: solid 2px black;

  max-width: 960px;
  min-width: 960px;
  max-height: 960px;
  min-height: 960px;

  display: flex;
  flex-wrap: wrap;
}

.square {
  background-color: yellow;
}

.square:hover {
  background-color: red;
}