body {
  background-color: rgb(174, 178, 185);
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#container {
  max-width: 960px;
  min-width: 960px;
  max-height: 960px;
  min-height: 960px;

  display: flex;
  flex-wrap: wrap;
}

.square {
  background-color: white;
}

.square:hover {
  background-color: red;
}